body{
    background-color: aliceblue;
}
.cuadrito{
    border-radius: 20px;
    border:1px solid black;
    width: 200px;
    height: 200px;
    background-color: red;
}
 header {
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      color: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
