body{
    background-color: rgb(196, 214, 228);
};

.cuadrito{
    border-radius: 20px;
    border:1px solid black;
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px;
}
button{
    display: flex;
    justify-content: center;
}